<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <script type="text/javascript" src="../js/3d/three.min.js"></script>
    <script type="text/javascript" src="../js/3d/OrbitControls.js"></script>
    <script type="text/javascript" src="../js/mianyang.js"></script>
    <script type="text/javascript" src="../js/3d/MTLLoader.js"></script>
    <script type="text/javascript" src="../js/3d/OBJLoader.js"></script>
    <!-- <script type="text/javascript" src="../js/3d/OBJLoader2.js"></script>
    <script type="text/javascript" src="../js/3d/LoaderSupport.js"></script> -->
    <script type="text/javascript" src="../js/3d/Stats.js"></script>
    <script type="text/javascript" src="../js/3d/tween.min.js"></script>
    <script type="text/javascript" src="../js/3d/DragControls.js"></script>
    <script type="text/javascript" src="../js/3d/TransformControls.js"></script>
    <script type="text/javascript" src="../js/3d/THREE.MeshLine.js"></script>
    <script type="text/javascript" src="./data.js"></script> 
</head>
<body onload="load()"> 
    <div class="t-top"></div>
    <div class="t-left"></div>
    <div class="t-right">
        <div id="stats" style="position:absolute;right:0;top:0;"></div>
        <canvas id="mainCanvas" width="1600px" height="800px"></canvas>
    </div>

</body>