<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <script type="text/javascript" src="../js/3d/three.min.js"></script>
    <script type="text/javascript" src="../js/3d/OrbitControls.js"></script>
    <script type="text/javascript" src="../js/3d/MTLLoader.js"></script>
    <script type="text/javascript" src="../js/3d/OBJLoader.js"></script>
    <!-- <script type="text/javascript" src="../js/3d/OBJLoader2.js"></script>
    <script type="text/javascript" src="../js/3d/LoaderSupport.js"></script> -->
    <script type="text/javascript" src="../js/3d/Stats.js"></script>
    <script type="text/javascript" src="../js/3d/tween.min.js"></script>
    <script type="text/javascript" src="../js/3d/DragControls.js"></script>
    <script type="text/javascript" src="../js/3d/TransformControls.js"></script>
    <script type="text/javascript" src="../js/3d/THREE.MeshLine.js"></script>
    <script type="text/javascript" src="./data.js"></script> 
    <script src="../js/CSS2DRenderer.js"></script>
    <script type="text/javascript" src="../js/3dObj.js"></script>
    <script type="text/javascript" src="../js/qiangwang.js"></script>
</head>
<body onload="load()" class="backimg"> 
    <div class="_header">
        <div>
            <span class="c_headname">第二届“强网”拟态防御国际精英挑战赛</span> 
            <span class="e_headname">THE 2nd "QIANGWANG" INTERNATIONAL ELITE CHALLENGE ON CYBER MIMIC DEFENSE</span>
        </div>
    </div>
</body>